<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-XRDS-Location" content="https://www.google.com/accounts/o8/id" />
	<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	<link type="application/rss+xml" rel="alternate" title="{{ site.title }}" href="{{ site.url }}/feed.xml" />
	{% if page.category %}<link type="application/rss+xml" rel="alternate" title="{{ site.title }} - {{ page.title }}" href="{{ site.url }}/category/{{ page.category }}/feed.xml" />{% endif %}
	{% if page.tag %}<link type="application/rss+xml" rel="alternate" title="{{ site.title }} - {{ page.title }}" href="{{ site.url }}/tag/{{ page.tag }}/feed.xml" />{% endif %}
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
	<link href="/css/pygments.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-11936848-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1><a href="/">{{ site.title }}</a></h1>
			<div id="cover"><img src="/images/header.jpg" alt=""></div>
			<div id="navigation">
				<a {% if page.url == "/" %}class="active"{% endif %} href="/">Home</a>
				<a {% if page.url == "/projects/" %}class="active"{% endif %} href="/projects/">Projects</a>
				<a {% if page.url == "/about/" %}class="active"{% endif %} href="/about/">About</a>
			</div>
		</div>
		<div id="sidebar">
			<h3>Links</h3>
			<ul>
				<li><a href="https://bitbucket.org/lalinsky">Me @ Bitbucket</a></li>
				<li><a href="http://delicious.com/luks" rel="me">Me @ Delicious</a></li>
				<li><a href="http://www.flickr.com/photos/lukasl/">Me @ Flickr</a></li>
				<li><a href="https://github.com/lalinsky">Me @ GitHub</a></li>
				<li><a href="https://plus.google.com/113042510075291177326">Me @ Google+</a></li>
				<li><a href="http://identi.ca/lukas" rel="me">Me @ Identi.ca</a></li>
				<li><a href="http://www.last.fm/user/lukz">Me @ Last.fm</a></li>
				<li><a href="https://launchpad.net/~luks" rel="me">Me @ Launchpad</a></li>
				<li><a href="http://www.linkedin.com/in/lalinsky" rel="me">Me @ LinkedIn</a></li>
				<li><a href="https://www.ohloh.net/accounts/luks" rel="me">Me @ Ohloh</a></li>
				<li><a href="http://stackoverflow.com/users/60950/lukas-lalinsky" rel="me">Me @ Stack Overflow</a></li>
				<li><a href="http://twitter.com/#!/lukaslalinsky">Me @ Twitter</a></li>
			</ul>
			<h3>Categories</h3>
			<ul>
			{% for c in site.category_order %}
				<li><a href="/category/{{ c }}/">{{ site.category_names[c] }}</a></li>
			{% endfor %}
			</ul>
		</div>
		<div id="main">

