<div class="post">
	{% if single_post %}
	<h2 class="entry-title">{{ post.title }}</h2>
	{% else %}
	<h2 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% endif %}
	<div class="entry-meta">
		Posted on <span class="entry-date">{{ post.date | date:"%B %d, %Y" }}</span>{% if post.categories.size > 0 %} in
			{% for category in post.categories %}
				<a href="/category/{{ category }}/">{{ site.category_names[category] }}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}{% endif %}
		| Tagged
			{% for tag in post.tags %}
				<a href="/tag/{{ tag }}/">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
			{% endfor %}
		{% if site.disqus_shortname and single_post != true and post.comments != false %}
		| <a href="{{ post.url }}#disqus_thread" class="comments-link"></a>
		{% endif %}
	</div>
	<div class="entry-content">{% if content %}{{ content }}{% else %}{{ post.content }}{% endif %}</div>
</div>

